
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

    <title>Mojo Healing</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/my_styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Mojo Healing</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/about">Pricing</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover col-sm-offset-3">
            <h1 class="cover-heading">Reiki Healing</h1>
            <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default"><span class="learn">Learn more</span></a>
            </p>
          </div>

        </div>

      </div>

    </div>

    <div class="container">
      <div class="about">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="header-title">About:</h1>
        </div>

        <div class="col-md-4 col-md-offset-4">
          <img src="assets/reiki2.jpg" class="about-pic">
        </div>

        <div class="col-md-10 col-md-offset-1">
          <p class="about-text">
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>

      <div class ="testimonials">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="header-title">Testimonials:</h1>
        </div>

        <div class="col-md-10 col-md-offset-1">
          <% @testimonials.each do |testimonial| %>
            <div class="well">
              <p class="testimonial">"<%= testimonial[:testimonial] %>"</p>
              <p class="description">-<%= testimonial[:name] %></p>
            </div>
          <% end %>
        </div>

        <div class="col-md-8 col-md-offset-2 well">
          <form action="/testimonial" method="post">
            <input name="name" type="text" placeholder="Type your name" class="name-input" required>
            <div>
              <textarea name="testimonial" placeholder="Type your testimonial" class="testimonial-input" required></textarea>
            </div>
            <div>
              <input type="submit" class="btn btn-lg btn-primary">
            </div>
          </form>
        </div>
      </div> <!-- testimonials -->

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
