body {
  font-family: 'Open Sans', sans-serif;
  text-shadow: none;
}

.header-title {
    font-size: 4em;
    font-weight: 300;
    color: #0b99bc;
    margin-top: 100px;
    margin-bottom: 50px;
}

.navbar {
  height: 80px;
  margin-bottom: 80px;
}

.description {
  font-size: 1.5em;
  color: grey;
}

.home-button {
  width: 150px;
}

.name-input {
  width: 50%;
  margin-bottom: 10px;
}

.testimonial-input {
  height: 250px;
  width: 50%;
  margin-bottom: 10px;
}

.testimonial {
  color: #0b99bc;
}

.cover {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.about-pic {
  border-style: none;
  border-radius: 150px;
  height: 300px;
  width: 300px;
}

form {
  color: #0b99bc;
}

.about img {
  margin-bottom: 40px;
}

.about-text {
  color: #c4c4c4;
  font-size: 1.5em;
  font-weight: 300;
}

.learn {
  font-weight: 400;
}

